.forgetPasswordForm {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .forgetPasswordForm {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .forgetPasswordForm {
    width: 85%;
  }
}